:root {
    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-graysih-blue: hsl(210, 46%, 95%);

    /* fonts */
    --barlow: "Barlow Semi Condensed", sans-serif;
}

body {
    font-family: var(--barlow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 375px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Daniel{
    background-color: var(--moderate-violet);
}
#Jonathan {
    background-color: var(--very-dark-blackish-blue);

}

#Daniel,
#Jonathan,
#Patrick {
    color: var(--white);
}

#Jeanette,
#kira {
    background-color: var(--white);
}

#Patrick{
    background-color: var(--very-dark-blackish-blue);
}

@media only screen and (min-width :500px) {
    main {
        max-width: 80%;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 48px;
    #Daniel,
    #Patrick{
        grid-column: 1/3;
    }
    }
}